@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.neumorphism {
  box-shadow: 0.5rem 0.5rem 0.75rem 0 rgba(255, 255, 255, 0.25) inset,
    -0.5rem -0.5rem 0.75rem 0 rgba(0, 0, 0, 0.3) inset;
}
.neumorphism:hover {
  box-shadow: 0.4rem 0.4rem 0.6rem 0 rgba(255, 255, 255, 0.25) inset,
    -0.4rem -0.4rem 0.6rem 0 rgba(0, 0, 0, 0.3) inset;
}
.neumorphism:active {
  box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(255, 255, 255, 0.25) inset,
    -0.25rem -0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3) inset;
}
input[type=range]::-webkit-slider-thumb{
  background: #31601e;
   -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 100%;
  width: 1.25rem; /* Set a specific slider handle width */
  height: 1.25rem; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}
.lgt {
  padding: 30px;
}
.led {
  position: relative;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  outline: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5),
    inset 0 0 0 2px rgba(255, 255, 255, 0.25),
    inset 0 5px 3px -2px rgba(255, 255, 255, 0.25),
    inset 0 -5px 3px -2px rgba(0, 0, 0, 0.1), 0 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.led::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 40%;
  width: 1%;
  height: 1%;
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5),
    0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.led--true {
  background-color: #11ff00cb;
}
.led--false {
  background-color: #1a1a1a;
}
